* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    margin-top: 50px;
    min-height: 100%;
  }
  body {
    font: 13px arial;
    background-color: lightgray;
    line-height: auto;
    overflow: hidden;
  }
  
  
  #page-wrap {
    margin: 20px auto;
    width: auto;
    padding: 10px;
    background: lightgray;
  }
  #feature-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  #feature-table td,
  #feature-table th {
    width: 150px;
    padding: 8px 5px;
    text-align: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
  i {
    font-size: 15px;
    color:  black;
    margin-right: 5px;
  }
  
  #feature-table th {
    font-size: 15px;
    width: 300px;
    line-height: 70px;
    color: black;
    
  }
  #feature-table .final-row td {
    padding: 24px 5px;
  }
  
  .Student {
    background-color: #91e461;
  }
  .Subjects {
    background-color: #9ed4b7;
  }
  .Marks {
    background-color: #bac8d6;
  }
  .Remarks {
    background-color: #bbd3dc;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #edf3e2;
  }
  
  h2 {
    font-size: 50px;
    text-align: center;
    color: goldenrod;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  